h1 {
  color: blue;
  font-style: italic;
}

#color1 {
  color: brown;
}

#color2 {
  color: #737ca1;
}

#color3 {
  color: rgb(154, 124, 8);
  /* color: rgba(154, 124, 8, 0); */
}

.flex {
  display: flex;
}

.kotak {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  margin: 5px;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: rgb(255, 51, 51);
}

.bg-orange {
  background-color: #ff8000;
}

.bg-img {
  background-image: url("/img_bg.jpg"); /* 1 */
  background-size: cover;
}

.border {
  border: 1px solid red;
}

.m {
  margin: 30px;
}

.p {
  padding: 30px;
}

.btn {
  padding: 4px 16px;
  color: white;
  background-color: #be123c;
  border-radius: 3px;
  width: max-content;
}

.btn:hover {
  background-color: blue;
  padding: 4px 32px;
}

.box {
  height: 50px;
  width: 100px;
  padding: 10px;
  margin-top: 5px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
}

.border {
  border: 1px solid #1e293b;
}

.shadow {
  box-shadow: 2px 2px 4px black;
}

.card {
  margin: 10px;
  padding: 6px;
  border-radius: 4px;
  width: 140px;
}

.card:hover {
  background-color: #1e293b;
  color: white;
}

.name {
  font-size: 20px;
}
